<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oracleMapper">
 <sql id="filter">
  <if test="category == '1'">
		AND CATEGORY = 1
	</if>
	<if test="category == '2'">
		AND CATEGORY = 2
	</if>
	<if test="karaoke == 1">
		AND KARAOKE = 1
	</if>
	<if test="convenienceStore == 1">
		AND CONVENIENCESTORE = 1
	</if>
	<if test="parkingLot == 1">
		AND PARKINGLOT = 1
	</if>
	<if test="seminarRoom == 1">
		AND SEMINARROOM = 1
	</if>
	<if test="bbq == 1">
		AND BBQ = 1
	</if>
	<if test="restaurant == 1">
		AND RESTAURANT = 1
	</if>
	<if test="wifi == 1">
		AND WIFI = 1
	</if>
	<if test="tv == 1">
		AND TV = 1
	</if>
	<if test="airConditioner == 1">
		AND AIRCONDITIONER = 1
	</if>
	<if test="miniBar == 1">
		AND MINIBAR = 1
	</if>
	<if test="bathTub == 1">
		AND BATHTUB = 1
	</if>
	<if test="refrigerator == 1">
		AND REFRIGERATOR = 1
	</if>
	<if test="pickup == 1">
		AND PICKUP = 1
	</if>
	<if test="cooking == 1">
		AND COOKING = 1
	</if>
	<if test="breakfast == 1">
		AND BREAKFAST = 1
	</if>
	<if test="freeParking == 1">
		AND FREEPARKING = 1
	</if>
	<if test="jeju == 1">
		AND ADDRESS like '%제주시%'
	</if>
	<if test="aewol == 1">
		AND ADDRESS like '%애월%'
	</if>
	<if test="hamdeok == 1">
		AND ADDRESS like '%함덕%'
	</if>
	<if test="moonset == 1">
		AND ADDRESS like '%월정%'
	</if>
	<if test="gujwa == 1">
		AND ADDRESS like '%구좌%'
	</if>
	<if test="seogwipo == 1">
		AND ADDRESS like '%서귀포%'
	</if>
	<if test="seongsan == 1">
		AND ADDRESS like '%성산%'
	</if>
	<if test="pyoseon == 1">
		AND ADDRESS like '%표선%'
	</if>
 </sql>

  <select id="getListHotelwithFilter">
    SELECT
    * FROM V_HOTEL
    WHERE HOTELID IS NOT NULL
  <include refid="filter"></include>
  </select>
  
  <select id="getListCharger">
    SELECT
    * FROM TBL_CHARGERLOC
	WHERE CHAGERID IS NOT NULL
	<include refid="filter"></include>
  </select>

  <select id="getListTopTen">
    SELECT * FROM (
      select * from TBL_HOTEL NATURAL JOIN TBL_HOTEL_ATTACH where starrate is not null ORDER BY STARRATE DESC
      ) WHERE ROWNUM<![CDATA[ <= ]]>10
  </select>

  <select id="getListStore">
    SELECT
    * FROM V_STORE
	WHERE STOREID IS NOT NULL
	<include refid="filter"></include>
  </select>

  <!-- 맛집 정보 storeid 별로 구분 -->
  <select id="getStore">
    SELECT
    * FROM V_STORE
	WHERE STOREID = #{storeid}
  </select>

  <!-- 맛집 리뷰 크로링 정보 띄우기 -->
  <select id="getListReply">
    SELECT
    * FROM TBL_REPLY WHERE STOREID= #{storeid} ORDER BY REGDATE DESC
  </select>

  <select id="readReply">
    SELECT * FROM TBL_REPLY WHERE RNO = #{rno}
  </select>

  <!-- 맛집 새리뷰 DB 넣고 띄우기 -->
  <insert id="insertReply">
	INSERT INTO TBL_REPLY(RNO,NICKNAME,REGDATE,STOREID,CONTENT,STARRATE,RRNO) 
	VALUES(SEQ_REPLY.NEXTVAL,#{nickname},SYSDATE,#{storeid},#{content},#{starrate},#{rrno})
  </insert>
  

  <update id="updateReply">
 		UPDATE TBL_REPLY SET 
 			CONTENT = #{content},
 			REGDATE = SYSDATE,
 			STARRATE = #{starRate}
 		WHERE RNO = #{rno}
  </update>

  <delete id="deleteReply" >
	DELETE FROM TBL_REPLY WHERE RNO = #{rno}
  </delete>

  <update id="updateUser">
 		UPDATE TBL_MEMBER SET 
 			PW = #{user_pwd},
 			EMAIL = #{user_email},
 			PHONE = #{user_tel1},
			PHONE2 = #{user_tel2},
			PHONE3 = #{user_tel3},
			UPDATEDATE = SYSDATE,
			NICKNAME = #{user_nickname}
 		WHERE USERID = #{user_id}
  </update>

  <delete id="deleteUser" >
	DELETE FROM TBL_MEMBER WHERE USERID = #{user_id}
  </delete>

  <!-- 아이디별(nickname) 리뷰 마이페이지에 구분(저장) -->
  <!-- 리뷰 사진 크롤링 완료 후 -> 테이블 V_REPLY 로 변경해야됨 -->
  <select id="getReplyMypage">
    SELECT
    * FROM TBL_REPLY
	WHERE NICKNAME=#{nickname}
  </select>
  <insert id="insertProduct">
	  <selectKey keyProperty="productid" order="BEFORE" resultType="Long">
		   SELECT SEQ_PRODUCT.NEXTVAL FROM dual
	  </selectKey> 
		INSERT INTO TBL_PRODUCT(PRODUCTID,PRODUCTNAME,PRICE,DESCRIPTION) 
		VALUES(#{productid},#{productname},#{price},#{description})
	</insert>

</mapper>